[submodule "qfc"]
	path = qfc
	url = git@github.com:pindexis/qfc.git
[submodule "tmux/plugins/resurrect"]
	path = tmux/plugins/resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
	shallow = true
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug
	shallow = true
[submodule "tmux/plugins/continuum"]
	path = tmux/plugins/continuum
	url = https://github.com/tmux-plugins/tmux-continuum
